body{
  margin: 0;
  padding: 0;
}
html {
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
}

#app {
  margin: 0;
  text-align: center;
}
*, *:before, *:after {
   box-sizing: inherit;
 }

p {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

